body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, footer {
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.question-list {
    list-style: none;
    padding: 0;
}

.question-list li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.question-list li a {
    text-decoration: none;
    color: #333;
}

.question-list li a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 0.8em;
    color: #666;
}
.pulsar-image {
    width: 1000px; 
    height: auto; 
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
